<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://static.binary.com/images/favicons/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" />

    <link rel="stylesheet" href="https://style.binary.com/binary.css" />
    <link rel="stylesheet" href="css/main.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.11.0/codemirror.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.11.0/theme/icecoder.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.11.0/codemirror.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.11.0/mode/javascript/javascript.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.slim.js"></script>

    <script src="https://npmcdn.com/binary-live-api@11.3.0/lib/binary-live-api.js"></script>

    <title>Binary Bot</title>
</head>
